@import './variables.scss';
@import './mixins.scss';

.controls {
  @include container;

  .controls__button_calculate {
    height: 40px;
    padding: 0 40px;
    box-shadow: $box_shadow;
    text-transform: uppercase;
    background-color: $accent_color;
    margin-top: 0;
    &:disabled,
    &:disabled:hover {
      cursor: inherit;
      background-color: $accent_disabled_color;
    }
    &:hover {
      background-color: $accent_hover_color;
    }
  }
}