.controls {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  .controls__container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    height: $controls_height;
    box-shadow: 0 0 10px 0 $box_shadow_color;

    .controls__button_result,
    .controls__button_calculate {
      flex: 1;
      height: auto;
      border-radius: 0;
      text-transform: uppercase;
    }

    .controls__button_calculate {
      background-color: $accent_color;
      &:disabled {
        cursor: inherit;
        background-color: $accent_disabled_color;
      }
      &:hover {
        background-color: $accent_hover_color;
      }
    }
  }
}