@import './mixins.scss';

.limitations {
  @include container;

  .details {
    padding: 0;

    summary {
      padding: $item_gap / 2;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    .limitations_container {
      margin: 0 $item_gap / 2;

      .limitations__list {
        .list_item {
          display: grid;
          grid-gap: 10px;
          grid-template-columns: auto 40px auto 25px;
          margin-bottom: $item_gap / 2;
          .input_group {
            .limitations__expression {
              width: 100%;
              box-sizing: border-box;
            }
          }
          .limitations__sign {
            width: 40px; 
          }
          .limitations__result {
            width: 100%;
            box-sizing: border-box;
          }
          .list_item__button_delete {
            width: 25px;
          }
        }
      }

      .limitations__button_add {
        width: 100%;
        margin-bottom: $item_gap / 2;
      }
    }
  }
}