@import './mixins.scss';

.result {
  @include container;
  margin-bottom: 50vh;

  .result__list {
    ol {
      list-style-type: none;
      padding: 0;
      counter-reset: section;

      li:before {
        counter-increment: section;
        content: "x"counter(section)" = ";
      }
    }
  }
}