@import './mixins.scss';

.result {
  @include container;

  .result__list {
    ol {
      list-style-type: none;
      padding: 0;
      counter-reset: section;
      li {
        user-select: text;
        &:before {
          counter-increment: section;
          content: "x"counter(section)" = ";
        }
      }
    }
  }
}