@import './mixins.scss';

.settings {
  @include container;

  .title {
    margin-bottom: $item_gap / 2;
  }

  .settings__label_parameter {
    @include list-item;
    margin-bottom: $item_gap / 2;

    .label {
      @include list-item-label;
      width: 45%;
    }

    input {
      flex: 1;
    }
  }

  .settings__button_apply {
    margin-top: auto;
  }
}