@import './variables.scss';
@import './mixins.scss';

.target {
  @include container;

  .target__label_function {
    @include list-item;

    .label {
      @include list-item-label;
      flex-shrink: 0;
      margin-right: $item-gap / 2;

      input {
        min-width: 100px;
      }
    }
  }
}