@import './variables.scss';
@import './mixins.scss';

.variables_list {
  @include container;

  .title {
    margin-bottom: $item_gap / 4;
  }

  .values {
    .title {
      display: flex;
      padding-left: calc(1rem + 15px);
      padding-right: calc(1rem + 5px);
      
      span {
        display: block;
        width: 100%;
        text-align: center;
      }
    }

    .table {
      overflow-y: scroll;
      max-height: 6 * ($item_height + $item_gap) + $item_gap / 4;
      counter-reset: section;
      margin-bottom: $item_gap / 2;
      padding-right: 5px;

      .table_line {
        display: flex;

        input {
          min-width: 0;
          margin: $item_gap / 4;
        }

        &:before {
          line-height: $item_line_height + $item_gap / 2;
          padding: 0 5px;
          min-width: 1rem;
          counter-increment: section;
          content: counter(section)".";
        }
      }
    }

    .variables_list__values__button_check {
      margin-top: auto;
    }
  }
}